#index_h1 {
    color: #87CEEB;
    /*font-family: "Microsoft Himalaya";*/
    text-align: center;
}

div#navigator{
    height: 2em;
    width: 484px;
    line-height: 2em;
    margin: 0 auto;
    padding: 0;
    /*border: 10px;*/
    background: greenyellow;
}

div#navigator ul#menu{
    float: left;
    width: 100%;
    background: transparent;
    margin: 0;
    padding: 0;

    /*position: relative;*/
}

div#navigator ul#menu li{
    display: inline;
    /*
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: absolute;
    top: 12px;
*/
}

ul#menu li,ul#menu a {
    float: left;
    text-align: center;
    width: 120px;


    border-right:1px solid white;
    border-bottom:0;
}
/*
div#navfirst ul#menu li a
{
    text-indent: -9999px;
    overflow:hidden;
    text-decoration: none;
}

#b	{left:0;width:155px;}
#f	{left:155px;width:157px;}
#p	{left:312px;width:167px;}
#c 	{left:479px;width:158px;}*/